<%- include('partials/layout/header.ejs') %> <%- include('partials/layout/navbar.ejs') %>

<body>
  <div class="container mt-5">
    <%- include(pagina) %>
  </div>
</body>

<%- include('partials/layout/footer.ejs') %>
