<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/img/guia.png" alt="Guia" />
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/criar-pergunta"
        >Criar Pergunta<span class="sr-only">(current)</span></a
      >
    </li>
  </ul>
</nav>
