<div class="jumbotron">
  <h1 class="display-4"><%= pergunta.titulo %> </h1>
  <p class="lead"><%= pergunta.descricao %> </p>
  <small>(Id: <%= pergunta.id %>)</small>
</div>
<div class="card">
  <div class="card-header">
    <h3>Responder pergunta</h3>
  </div>
  <form method="POST" action="/resposta-criada">
    <input type="hidden" name="idPergunta" value="<%= pergunta.id %>">
    <div class="card-body">
      <div class="form-group row">
        <label for="corpo" class="col-sm-2 col-form-label">Resposta</label>
        <div class="col-sm-10">
          <textarea
            class="form-control"
            name="corpo"
            id="corpo"
            rows="4"
            placeholder="Digite sua resposta..."
          ></textarea>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <input type="submit" class="btn btn-dark btn-block" value="Responder" />
    </div>
  </form>
</div>
