<div class="jumbotron">
  <h1 class="display-4">Sua resposta foi recebida!</h1>
  <p class="lead">A resposta será registrada no banco de dados.</p>
  <hr class="my-4" />
  <a class="btn btn-dark btn-lg btn-block" href="/" role="button"
    >Clique aqui para voltar</a
  >
</div>
